# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcbkptlist
*.xcscheme

# Build generated
build/
DerivedData/

# CocoaPods
Pods/
*.xcworkspace

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS
.DS_Store
Stagr.xcodeproj/xcuserdata/jordanmassey.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
